# Example docker compose config.

services:
  yalexs2mqtt:
    image: kwv4/yalexs2mqtt:latest
    network_mode: host
    restart: on-failure
    platform: linux/arm64 # for raspberry pi or linux/amd64
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    cap_add:
      - NET_ADMIN
    volumes:
      # path to your config file
      - /home/pi/yalexs2mqtt/config:/app/config
    environment:
      - PUID=99
      - PGID=100
      - TZ=America/Chicago
    tmpfs:
      - /run/dbus
